@import url("https://cdn.jsdelivr.net/gh/joyclub-vn/statics/joyclub.min.css");
:root {
	--container-max-width: 100%;
	--container-padding-x: 15px;
	@media (min-width: 576px) {
		--container-max-width: 540px;
	}
	@media (min-width: 768px) {
		--container-max-width: 720px;
	}
	
	@media (min-width: 992px) {
		--container-max-width: 960px;
	}
	
	@media (min-width: 1200px) {
		--container-max-width: 1600px;
		--container-padding-x: 35px;
	}
	@media (min-width: 1400px) {
		--container-padding-x: 85px;
	}

}

* {
	box-sizing: border-box;
	font-size: 14px;
}

button, :not(.quantity-area) > input {
	border-radius: 62.5rem !important;
}
textarea {
	border-radius: 25px !important;
}
div:is(.quantity-area) > input {
	height: 2.5rem!important;
	&:first-child {
		border-top-left-radius: 62.5rem !important;
		border-bottom-left-radius: 62.5rem !important;
	}
	&:last-child {
		border-top-right-radius: 62.5rem !important;
		border-bottom-right-radius: 62.5rem !important;
	}
}
.form-floating_label {
	left: 1.5rem !important;
}
.form-field_text {
	padding: 1rem 1.5rem 0.2rem !important;
}
img {
	border-radius: 1rem;
}
a.product-gallery-item {
	border: none !important;
}
.section {
	max-width: calc(var(--container-max-width) - calc(var(--container-padding-x)*2));
	margin: 0 auto;
	border-radius: 1.5rem;
}
.owl-carousel .owl-stage-outer, .border-r-1 {
	border-radius: 1.5rem;
}
main.mainContent-theme {
    margin-top: 3.5rem;
}
.mainContent-theme .section[class*='section-'] {
	margin-bottom: 6.57rem !important;
}

#home-slider .owl-dots {
	position: relative;
}
#home-slider .slider-content-text .wrap-content-slider .title-content-slider {
	& p,
	& h2 {
		color: var(--jc-color) !important;
	}
	color: var(--jc-color) !important;
}

/* Navbar */
.navigation-header #main-nav-linklist .nav-linklist > .nav-bar-item > .nav-bar-link {
	color: var(--jc-color, #27272A);
	font-family: Geologica;
	font-size: 0.85714rem !important;
	font-style: normal;
	font-weight: 400 !important;
	line-height: 170%; /* 1.45714rem */
	letter-spacing: 0.03571rem;
	text-transform: uppercase;
	&:after {
    	background-color: var(--jc-bg-color) !important;
	}
}
.navigation-header .wrapper-header-logo {
    padding: 0 !important;
}
.main-header {
	border-bottom: none !important;
	& .header-inner {
		padding: 0.75rem 0rem !important;
	}
	& .wrap-logo a img {
		max-width: 6.25rem;
		max-height: unset!important;
	}
}

.btn {
	display: inline-flex;
	height: 2.5rem!important;
	padding: 0.59375rem 1rem!important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 62.5rem;
}

.btn-box, .checkout-btn, .step-footer-continue-btn {
	display: inline-flex;
	height: 2.5rem!important;
	padding: 0.59375rem 1rem!important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 62.5rem;
	color: var(--jc-color) !important;
	background-color: rgba(var(--jc-bg-color-rgb), var(--jc-opacity))!important;
	border-color: rgba(var(--jc-bg-color-rgb), var(--jc-opacity))!important;
	&:hover {
		background-color: #ffdd6a !important;
	}
	&:active {
		background-color: #ffe899 !important;
	}

}
.btn-box:before {
	content: none!important;
}
.product-detail .box-pro-prices .block-pro-price .pro-price-del {
	color: #AFAFA9 !important;
}