:root {
	/* LALADAY color hex code */
	--lala-white: #fff;
	--lala-moss: #7F7E60;
	--lala-light-moss: #CCC9A0;
	--lala-dark-moss: #403F32;
	--lala-600-moss: #666551;
	--lala-green: #798463;
	--lala-light-green: #D7EAB0;
	--lala-dark-green: #565E47;
	--lala-600-green: #798463;
	--lala-cream: #B1A58E;
	--lala-light-cream: #D6C8AD;
	--lala-dark-cream: #726A5C;
	--lala-600-cream: #B1A58E;
	--lala-brown: #CE997E;
	--lala-light-brown: #EFAA89;
	--lala-main-dark-brown: #332822;
	--lala-dark-brown: #A97E68;
	--lala-500-brown: #A97E68;
	--lala-earth: #7C6557;
	--lala-light-earth: #B99783;
	--lala-dark-earth: #3E322C;
	/* LALA font */
	--lala-font: Open Sans;
	--lala-font-2: Lora;
	--lala-h1-size: 40px;
	--lala-h2-size: 36px;
	--lala-h3-size: 32px;
	--lala-text-size: 16px;
	--lala-text-height: 32px;
	/* LALA size */
	--lala-blog-aspect-ratio: 384 / 256;
	--lala-thumbnail-blog-h: calc(((100vw - 20vw) / 3) * 0.666667);
	--lala-thumbnail-blog-w: calc((100vw - 20vw) / 3);
	--lala-tablet-width: 901px;
	--lala-moblie-width: 480px;
	/* LALA padding */
	--lala-content-padding: 5vw 15vw 10vw;
}

@media only screen and (min-width: 481px) and (max-width: 901px) {
	:root {
		--lala-h1-size: 36px;
		--lala-h2-size: 32px;
		--lala-h3-size: 30px;
		--lala-content-padding: 10vw 5vw 10vw;
		--lala-thumbnail-blog-h: calc(((100vw - 20vw) / 2) * 0.666667);
		--lala-thumbnail-blog-w: calc((100vw - 20vw) / 2);
	}
}

@media only screen and (max-width: 480px) {
	:root {
		--lala-h1-size: 32px;
		--lala-h2-size: 20px;
		--lala-h3-size: 16px;
		--lala-text-size: 14px;
		--lala-text-height: 24px;
		--lala-content-padding: 48px 16px 48px;
		--lala-blog-aspect-ratio: auto 360 / 240;
		--lala-thumbnail-blog-h: 240px;
		--lala-thumbnail-blog-w: 360px;
	}
}